.bg{width: 980px;height: 1386px;margin:0 auto;margin-top: -7px}
.top{width: 892px;height: 61px;border-bottom: 2px solid #938e8c;margin:0 auto;}
.top .you{font-size: 12px;color: #d45d5c;float: right;margin:-18px 0 0 5px;font-family: "SimHei"}
.top .zuo{font-size: 12px;color: #fff;font-family: "SimHei";float: left;margin:45px 0 0 5px;}
.top div{background-color: #d45d5c;width: 110px;height: 61px;}

.m11{width: 641px;height: 301px;float: left;background: url('top.png');margin:34px 0px 0 44px;}
.m12{width: 203px;height: 301px;float: right;border-top:2px solid #cc2091;margin:34px 44px 0 0px;}

.m121{font-size: 24px;color: #000;font-family: "微软雅黑"; line-height: 40px;}
.m122{font-size: 24px;color: #000;font-family: "微软雅黑"; line-height: 28px;}
.m123{font-size:12px;color: #676767;font-family: "楷体";line-height: 10px;margin:0 0 0 0;}
.m124{font-size: 116px;color: #75b86b;margin-top: 10px;margin-left: -20px;}
.m125{font-size: 55px;color: #cc8091;font-family: "微软雅黑";margin-top: 0;position: relative}
.m126{font-size: 21px;color: #cc8091;font-family: "微软雅黑";float: right;position: absolute;left: 85px;top:25px;}
.m127{font-size: 12px;color: #cc8091;font-family: "微软雅黑";float: right;position: absolute;top:45px;left: 85px}

.m2{width: 960px;height: 301px;}

.m21{width: 200px;margin: 41px 0 0 44px;float: left}
.m22{width: 200px; margin:41px 28px 0 28px;float: left;}
.m23{width: 185px;margin:41px 0 0 0;float: left}
.m21 u{font-size: 16px ;color: #418c59;font-weight: bold;}
.m22 u{font-size: 16px ;color: #d2994f;font-weight: bold;}
.m23 u{font-size: 16px ;color: #cc7680;font-weight: bold;}

.m21 p,.m22 p,.m232{font-size: 12px;color: #767777;line-height: 16px;font-family: "宋体"}
.m2321,.m2322,.m2323{color: #231815;font-size: 12px;line-height: 16px;}
.m2321 i,.m2322 i,.m2323 i{font-size:12px;color: #cd4a48;line-height: 16px }


.m3{width: 980px;margin:0px 0 0 44px;overflow: hidden}
.m31{float: left;width: 415px;margin-top: 30px}
.m311 i{font-size: 72px;color: #f5e327;font-weight: bold;font-family: "黑体"}
.m311 span{font-size: 42px;color: #11456b;line-height: 16px;font-weight: bold;font-family: "黑体";margin:0 0 0 25px;}
.m311 p{font-size: 33px;color: #11456b;font-weight: bold;font-family: "黑体" ;margin:14px 0 17px 0px;}
.m311{border-bottom:2px solid #11456b ;overflow: } 

.m312{width: 415px;margin:-27px 0 40px 0;height: 427px;}
.m312 .qian{font-size:70px;color: #f5e327;font-family: "微软雅黑";float: left;margin:-14px 0 0 0;padding-right: 7px;}
.m312 .duan{font-size: 12px;color: #767777;font-family: "宋体";line-height: 16px;margin-top: 50px;margin-bottom: 0;}
.m312 .duan2{font-size: 12px;color: #767777;font-family: "宋体";line-height: 16px;margin-top: 50px;margin-bottom: 0;margin-top: 0px;text-indent: 2em}
.m312 .tupian{float: right;margin:0px 0px 10px 20px;}

.m32{float: right;margin:43px 88px 0 0px;padding-left: 19px}
.m321{position: relative}
.m322{width: 458px;height: 318px;background-color: #eeedd6;}
.m321 img{width: 458px;height: 275px}
.m3211{width: 458px;opacity: 0.5;height: 61px;background-color: #000;height: 61px;position: absolute;top:214px;}
.m3211 p{border-left: 3px solid #72b16a;color: #fff;font-size: 26px;font-family: "微软雅黑";margin:8px 0 0 38px;height: 39px;padding-left: 14px;padding-top: 5px}
.m3211 i{color: #000;font-size:15px;font-family: "微软雅黑"}

.m32 li{line-height: 42px;color: #5a5b5b;font-size: 16px;font-family: "宋体"}
.m32 ul{margin-bottom: 0;padding-top: 15px;padding-left: 45px;}
.m32 i{color: #5a5b5b;font-size: 12px;font-family: "宋体"}
.m323{width: 260px;height: 160px;background-color: #d45d5c;float: left;margin-top:14px;position: relative}
.m323 .m0{width: 70px;font-size: 110px;color: #fff;font-family: "微软雅黑";border-right: 2px solid #fff;margin:40px 0 0 10px;height:86px ;line-height: 82px}
.m323 .span1{font-size: 21px;color: #fff;font-family: "黑体" ;position: absolute;top:45px;left:90px;}
.m323 .span2{font-size: 12px;color:#fff;font-family: "黑体";line-height: 13px;position: absolute;top:95px;left: 90px}

.m324{position: relative;margin:25px 0 0 270px;font-size: 2px;width: 173px}
.m324 i{color: #5a5b5b;font-family: "黑体";}
.m324 p{color: #d45d5c;font-size: 72px;font-family: "黑体"}
.m324 .span4{float: left;margin:40px 0 0px -30px;width: 80px;line-height: 0px}
.m324 .span5{float: right;margin:0 -20px 0 0;}
.bottom{height: 59px;width: 892px;border-top: 2px solid #938e8c;margin:0 auto; margin-top: -5px;}
.bottom p{color: #d45d5c;font-size: 12px;float: right;margin-top:2px;}