a{text-decoration: none}
input{outline: none;}
button{outline: none}
.top{width: 1280px;height: 57px;margin-top: -25px}
.top img{float: left;margin: 13px 0 0 59px; }
.top p{font-size: 21px;padding:15px 0 0 102px;width: 400px;margin-right: 0px}
.top li{list-style: none;float: right;margin-left: 47px;height: 35px;width: }
.top li img {margin-left: 0;margin-top: 3px;}
.a,.b,.c,.d,.e{color: #787b83;font-size: 15px;}
.top li:hover{border-bottom: 3px solid #e9605e}
.top a:hover{color:#e9605e;}
.top ul{margin-top:-45px;padding-right: 67px}
.top span{color:#e9605e;}
.img1{width: 1280px;height: 690px;float: left}

.main_img_div{margin:-520px 0 0 115px;float: left}
.main_img_div .p1{color: #fff;font-size: 50px}
.main_img_div .p2{font-size: 20px;color: #fff;margin-top: -33px;}
.main_img_div button{background-color: #e74f4d;width: 330px;height: 64px;border:none;font-size: 29px;margin-top: 30px}
.main_img_div a{color: #fff}

.div2 img{float: left;padding-left: 138px;padding-top: 45px;padding-right: 80px;}
.div3 .z{float: left ;font-size: 12px;color: #8d8d8d;width: 318px;text-align: center;border-right: 2px solid #8d8d8d;height: 51px;line-height: 20px}
.div3 .x{float: left ;font-size: 12px;color: #8d8d8d;width: 318px;text-align: center;height: 51px;line-height: 20px}
.div4{width: 1280px;height: 360px;background-color: #edecec;margin-top: 940px}
.div4 img{margin:86px 0 0 595px}
.div4 p{font-size: 48px;color: #a1a1a1;text-align: center}

.div5{position: relative}
.div5_1{position: absolute;top: 53px;margin:0 auto;left:126px;}
.div5 .p1{font-size: 21px;color: #fff;border-bottom: 2px solid #fff;padding-bottom: 10px;margin-left: 375px}
.div5 .ss{font-size: 13px;color: #fff;margin-left:320px;margin-top: 29px}
.div5 select{width: 235px;height: 35px;margin-right: 28px;margin-top: 33px;}
.div5 option{color: #a8aaaa;font-size: 11px;}
.div5 select:hover{border:2px solid #be6f68;background-color: #e4e3e5;}
.div5 .a{color: #a8aaaa;font-size: 11px;}
.div5 button{width: 235px;height: 35px;background-color: #be4e48;color:#fff;font-size: 14px;border:none;}


.div6{height: 605px;background-color: #f8f7f7;width: 100%}
.div6 img{border-left: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0}
.div6 .img1{margin-left: 138px;margin-top: 100px;width: 217px;height: 337px;float: left}
.div6 .img2{width:217px;height: 337px ;margin-left: 36px;margin-top: 80px;float: left;}
.div6 .img3,.div6 .img4{width:217px;height: 337px ;margin-left: 36px;margin-top: 100px;float: left}
.div6 .img1 .pp1,.div6 .img3 .pp5,.div6 .img4 .pp7{text-align: center;font-size: 13px}
.div6 .img1 .pp2,.div6 .img3 .pp6,.div6 .img4 .pp8{color: #9f9f9f;font-size: 12px;text-align: center}

.div6 .img2 .pp3{font-size: 18px;letter-spacing: 35px;text-align: center;margin-left:5px;margin-bottom: 0px;margin-right: -30px}
.div6 .img2 .pp4{color: #9f9f9f;font-size: 12px;text-align: center;margin-top: 5px;margin-bottom: 5px}

.div7{width: 1280px;height: 566px;position: relative}
.div7 img{height: 566px;width: 850px;}
.div7_1{position: absolute;top: 130px;left: 240px;}
.div7 .pp1{font-size: 48px;color: #fff;margin-left: 112px;margin-bottom: -40px;}
.div7 .pp2{color: #fff;font-size: 150px;}
.div7 .pp3{color: #fff;font-size: 22px;margin-left: 112px}
.div7 p{margin:0 auto;}

.youce{margin-right: 68px;margin-top: 135px;}
.youce .xtytx{font-size: 28px;text-align: center;color: #000;margin-bottom: 30px}
.youce span{color: #e74f4d;font-size: 28px;}
.youce .xty {color: #b0b0b0;}
.youce button{width:103px ;height:31px ;border:none;color: #e74f4d;background-color: #fff;border:1px solid #e74f4d;margin:51px 0 0 92px;}
.youce input{background-color: #fff;padding-left: 110px;margin-top: 25px}
.youce .zxc{margin-left: 114px}
.youce{float: right;width: 288px}

.div8_1{width:425px ;height:520px ;background-color:#e74f4d ;float: left;}
.div8_2{width: 425px;height: 520px;background-color:#fff ;float: left}
.div8_1_1{margin:170px 0 0 128px;}
.div8_2_1{margin:170px 0 0 128px;}
.imgg{width: 29px;height: 2px;margin:0px 0 20px 70px;}
.div8_1_1 p{font-weight: bold;color: #fff;font-size: 20px;text-align: center;margin-left: -127px;margin-bottom: 20px}
.div8_2_1 p{font-weight: bold;color: #000;font-size: 20px;text-align: center;margin-left: -127px;margin-bottom: 20px}
.div8 .youtupian{width: 430px;height: 520px;float: right}
.div8_1 button{width:167px ;height:41px ;border:1px solid #fff;background-color: #e74f4d;font-size: 20px;color: #fff}
.div8_2 button{width:167px ;height: 41px;border:1px  solid #e74f4d;background-color: #fff;font-size: 20px;color: #e74f4d}

.div9{width: 1480px;height: 750px;float: left}
.pn{text-align:center;font-size: 20px;margin-top: 120px;font-weight: bold;margin-bottom: -3px;margin-right: 200px;}
.pm{text-align: center;font-size: 11px;color: #aaaaaa;margin-top: 10px;margin-right: 200px;}
.div9 .hengxian{margin-left:627px;}
.div9_1 .ppp1{font-size: 16px;color: #666160}
.div9_1 .ppp2{font-size: 12px;color: #9d9b9a;line-height: 20px}
.div9_1{margin:110px 138px 166px 138px;}
.zuoo{width: 390px;margin-left: -40px;float: left;margin-top:-10px;}
.zuoo a{margin-left: 326px;color:#666160; }
.youu{float: right;width: 650px;margin-right: 130px}
.input1{width: 290px;height: 40px;background-color: #ededee;border:none;margin:0 8px 7px 0;color: #666;outline: none;padding-left: 20px}
#input2{width: 612px;height:120px;background-color: #ededee;border:none;color: #666;outline: none;padding-left: 20px;padding-top: 20px;resize:none}
.youu button{width: 635px;height: 40px;background-color: #ededee;color: #666;border: none; margin-top: 10px}

.div10{width: 1280px;height: 360px;background-color: #32353e;float: left;position: relative}
.div10 .pppp1{font-size: 20px;color: #fff;text-align: center;margin-top: 90px}
.div10 .pppp2{font-size: 12px;color: #fff;text-align: center}
.in1{width: 430px;height: 40px;padding-left: 20px;border:none;color: #6f7178;position: absolute;top:205px;left: 385px}
.in2{width: 80px;height: 42px;background-color: #6f7178;color: #fff;border:none;margin:20px 0 0 -5px;position: absolute;top: 185px;left: 840px}
.div10 img{position: absolute;top: 300px;left: 540px}

.bottom{width: 1280px;height: 60px;background-color: #303039;float: left}
.bottom p{font-size: 12px;color: #fff;}
.bottom1{float: left;margin:30px 0 15px 100px;}
.bottom2{float: right;margin:30px 40px 0 ;}