table{
	border-collapse: collapse;
	 text-align: left;
        margin:30px 0;
        width: 350px;
}
th,td{
        height:25px;
       border: 2px solid white;   
   }
th{
      background-color: black;
      color: white;
    }
tr:nth-child(odd){
       background-color: #ccc;
    }
tr:nth-child(2),tr:nth-child(3),tr:nth-child(4){
       color:#FF6666;
    }
tr{font-weight: bold}



input{
	transition: width 2s;
	width: 300px;
	height: 30px;
}
input:focus{
	width: 400px
}

*{ 
    margin: 0;
    padding: 0; 
    text-decoration: none;
}
 
 .carousel{
       position: relative;
       width:300px;
       height: 150px;
       margin-top:20px;
      overflow: hidden;
           }
  .pics{
       position:absolute;
      left: 0;
       width:900px;
       height:150px;
       animation: carousel linear 12s infinite;
     } 
@keyframes carousel{
       0%{ left: 0; }
       28%{ left: 0; }
       35%{ left: -300px; }
       63%{ left: -300px; }
       70%{ left: -600px; }
       98%{ left: -600px; }
       100%{ left: 0; }
     }
#one{
       background-color:#000;
       left: 0;
     }
     #two{
       background-color:#666;
       left: 300px;
            }
     #three{
       background-color:#fff;
       left:600px;
     }
 .pic{
       position:absolute;
       display: inline-block;
       width:300px;
       height:150px;
     }
 .tag{
       display: inline-block;
       width:30px;
       height: 30px;
       margin:0;
       position: relative;
       top:-30px;
       left: 194px;
       background-color: rgba(0,0,0,0.5);
       color:white;
       line-height: 30px;
       text-align: center;
     }
     .tag1:target{
       left: 0;
       animation: .1s 1;
     }
     .tag2:target{
       left:0; 
       animation: .1s 1;  
     }
     .tag3:target{
       left:0;
       animation: .1s 1;      
     }