*{
	margin: 0;
	padding: 0;
}
a{text-decoration: none;color: #000}
.top a{font-size: 50px;color: #fff;}
.top p{font-size: 50px;color: #fff;text-align: center;margin-top: -75px;}
.top img{margin:40px 0 0 30px;width: 25px ;height: 60px}
.top{width: 100%;height: 150px;background-color: #2189bf;position: relative}
.top span{position: absolute;top: 35px;left: 70px}

.daohang{float: left;width: 20%;height: 100px;}
.daohang p{font-size: 40px;text-align: center;margin-top: 20px}
.daohang:hover{border-bottom: 5px solid #2189bf;height: 95px}
.zcy{width: 100%;height: 200px;}
.xiaotu{width: 90%;height:220px; text-align: center;margin-left: 5%;border-bottom: 2px solid #666}
.xiaotu div{width: 18%;height: 250px;float: left;margin-left: 10px;margin-top: 40px}
.xiaotu img{width: 100px;height: 100px}
.xiaotu p{font-size: 40px;}

.xiaofenlan{width: 90%;height: 250px;margin-left: 5%;margin-top: -50px}
.xiaofenlan div{width: 30%;height: 220px;float: left;margin-left: 20px;margin-right: -10px;margin-top: -40px;}
.xiaofenlan img{width: 150px;height: 100px;margin:20px 0 0 30px;}
.xiaofenlan .div2{margin-left: 20px;}
.xiaofenlan .div1{border-right: 3px solid #666}
.xiaofenlan .pp1{font-size: 30px;text-align: center}
.pp2{font-size: 20px;text-align: center}

.huise{width: 100%;height: 30px;background-color: #bfc2c8;margin-top: 50px}
.mokuaiyi{width: 90%;height: 200px;}
.mokuaiyi p{font-size: 40px;color: #666;border-bottom: 2px solid #666;margin:20px 0px 0 50px;padding-bottom: 20px;padding-right: 20px}

 .img111{width: 200px;height: 200px;float: left}

.img222{width: 200px;height: 200px;float: left}
.wenzhang{width: 200px;height: 80px;float: left;background-color: #e1e1e2;margin:10px;}
.diyihang{margin:-100px 0 0 50px;}
.dierhang{margin:220px 0 0 50px;}
.huise2{margin-top:500px;width: 100%;height: 30px;background-color: #bfc2c8;}

.last{margin:20px 0 0 30px;border-bottom: 2px solid#bfc2c8;width: 90%;height: 250px}
.last img{width: 200px ;height: 200px;float: left;padding-left: 20px}
.last .pppp11{font-size: 40px;float: left;margin-top: 10px;margin-left: 20px;}
.last .pppp22{font-size: 30px;color: #bfc2c7;float: left;margin-top: 50px;margin-left: 20px;}
.last p{width: 400px}

.zhenlast{width: 90%;height: 300px;margin:20px 0 0 50px;}
.zhenp1{font-size: 40px;}
.zhenlast img{width: 200px;height: 200px;float: left;margin:20px 30px 20px 0 ;}
.zhenp2{font-size: 30px;color: #bfc2c8}