.top{width: 100%;height: 56px;background-color: #228abf}
*{margin:0;padding:0;}
a{text-decoration: none}
li{list-style: none}
select{outline: none;}
input{outline: none}
button{border:none;}
ul{list-style: none}
.top .top1{margin:10px 0 0 50px;}
.top .top2{position: absolute;top: 19px;right: 480px;z-index: 2}
.top a{color: #fff;text-decoration: none}
.top span{margin:0px 0 5px 5px;position: absolute;top: 15px;right: 85px;}
.top3{margin-top: 5px;position: absolute;top: 13px;right: 125px;}
.top input{width:312px ;height: 28px;border: none;border-radius:50px; 
	background-color: #fff;position: absolute;top: 13px;right: 156px;
	outline: none;z-index: 1;padding-left: 50px}

.zuo{width: 260px;background-color: #2a2e3d;height:1335px;float: left
	;position: relative;float: left;}
.zuo1{position: absolute;top: 18px;left: 45px}
.zuo_name{position: absolute;top: 40px;left: 112px;color: #fff;
	font-size: 12px;font-weight: bold}
.zuo_shouchang{font-size: 12px;color: #6a7c90;border-right: 1px solid #6a7c90
	;position: absolute;top: 100px;left: 63px;padding-right: 30px; }
.zuo_fensi{font-size: 12px;color: #6a7c90;position: absolute;top: 100px;left: 150px}
.zuo_mokuai{width: 260px;height: 190px;background-color:  #383d4e;position: absolute;top: 150px}
.zuo_span1{font-size: 12px;color: #fff;}
.zuo_span2{font-size: 12px;color: #68788d}
.zuo11{margin:10px 0 9px 45px;}
.zuo22{margin:0 0 9px 70px;}
.zuo33{margin:0 0 9px 100px;}
.zuo11 img{margin-right: -5px}
.zuo22 img,.zuo33 img{margin-right: 5px}
.zuo_ul span{font-size: 12px;color: #68788d}
.zuo_ul img{width: 11px;height: 12px;margin-right: 14px}
.zuo_ull{position: absolute;top: 340px;width: 260px;height: 500px}
.zuo_ul li{margin:16px 0 18px 45px;}


.you{width: 100%-160px;height: 1500px;margin-left: 260px}
.you_top{width: 100%;height: 30px;background-color: #fff;}
.top_a {margin:5px 0 0 30px;}
.link{color: #aaaaaa;font-size: 12px;line-height: 10px;}
.link:hover{color: #6898c2}
.link:before{content: "/";margin:0 24px;color: #aaaaaa;}   
.link:first-child:before{display:none;}

.you_main{background-color: #ededec;height: 1300px;position: relative}
.main1{width: 890px;height: 85px;background-color: #fff;border:1px solid #dddee0;
	position: absolute;top: 20px;left: 60px}
.main_span1,.main_span2,.main_span3{position: absolute ;}
.sp2{margin:0 15px 0 0 ;}
.spl{margin:0 15px 0 15px;}
.xia{margin-top: 5px}
.xiafang{margin-top: 5px}
.main_span1{top: 15px;left: 30px}
.main_span2{top: 15px;left: 188px}
.main_span3{top: 15px;left: 408px}
.main1 .submit{top: 30px;left: 728px;position: absolute;width: 51px;height: 25px;color: #fff;
	background-color: #388bc2;border:none;border-radius: 5px}
.main1{position: relative}
.duan{width: 70px;height: 25px;border:1px solid #c7c8c9;margin-bottom: 5px; appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none; padding-left: 10px; }
.chang{width: 120px;height: 25px;border:1px solid #c7c8c9;margin-bottom: 5px; appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none; padding-left: 10px; }
.main1 span{color: #b7b7b7;font-size: 12px}
.lanjiantou{background: url('lanjiantou.png') no-repeat scroll right center transparent;}
.baijiantou{background: url('heijiantou.png') no-repeat scroll right center transparent;}
.main1 img{position: absolute;top: 23px;left: 348px;}


.main2{width:895px;height: 64px;margin:30px 0 0 60px ; }
.gundong,.riqi,.lishi{border-top: 1px solid #dadcde;border-left: 1px solid #dadcde;float: left
	;margin-right: 5px;background-color: #fff;}
.gundong{width:29px ;height: 63px}
.riqi{width: 109px;height: 63px;position: relative}

.lishi{width: 129px;height: 63px}
.gundong img{margin:23px 0 0 10px;}
.lishi img{margin:16px 0 0 18px;}
.riqi:hover{border-top:2px solid #4388c8;}
.riqi p{margin:14px 0 0 29px;color: #000;font-size: 12px}
.riqi .qian{position: absolute;top: 36px;left: 27px;color: #b3b3b2;font-size: 12px}
.riqi .shuzi{font-size: 16px;color: #ec6500}
.lishi p{font-size: 12px;margin-top: -28px;margin-left: 60px;color: #000}

.xty{margin:22px 0 0 60px;}
.main3{width: 950px;height: 73px;margin:5px 0 0 60px;}
.main3_div{width:197px;height: 69px;background-color: #fff;margin-right: 30px ;
		border-right: 1px solid #d3d5d8;float: left;border-top: 1px solid #d3d5d8;
		border-bottom: 1px solid #d3d5d8;position: relative}
.div1{border-left: 3px solid #43b29e}
.div2{border-left: 3px solid #388bc2}
.div3{border-left: 3px solid #d04a36}
.div4{border-left: 3px solid #e2cd46}
.sekuai1{background-color: #43b29e;width: 60px ;height: 46px;margin:-10px 0 0 122px;}
.sekuai2{background-color: #388bc2;width: 60px ;height: 46px;margin:-10px 0 0 122px}
.sekuai3{background-color: #d04a36;width: 60px ;height: 46px;margin:-10px 0 0 122px}
.sekuai4{background-color: #e2cd46;width: 60px ;height: 46px;margin:-10px 0 0 122px}

.p1{font-size: 10px ;position: absolute;top: 20px;left: 8px}
.p2{font-size: 12px ;color: #b7b7b7;position: absolute;top: 43px;left: 8px}
.wenzi{width: 50px;height: 50px;margin-right: -100px;}

.main4{width: 1000px;height: 800px;margin:15px 0 0 60px;}
.zuoshang{width: 532px;height: 356px;background-color: #fff;margin:0 10px 10px 0;border: 1px solid#bfc3c8;float: left;border-radius: 10px}
.youshang{width: 354px;height: 356px;background-color: #fff;margin-bottom: 10px;border: 1px solid#bfc3c8;float: left;border-radius: 10px}
.zuoxia{width: 350px;height:356px ;background-color: #fff ;margin-right: 10px;border: 1px solid#bfc3c8;float: left;border-radius: 10px}
.youxia{width: 534px;height:356px ;background-color: #fff;border: 1px solid#bfc3c8;float: left;border-radius: 10px}
.main4_top{width: 100%;height: 40px;background-color: #f4f5f6;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom: 1px solid#e7e8eb}
.main4_top p{font-size: 12px;color: #aaaaaa;padding:14px 0 0 20px;}
.youshang1{margin:17px 0 0 51px;}
.youshang1 p{font-size: 12px ;color: #c3c2c2}
.youshang1 span{font-size: 12px;color: #535353}

.youshang2{margin:9px 0 0 35px;width: 94px;height: 43px;border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;border-right: 1px solid #dddddd;float: left}
.youshang2 p{font-size: 12px;color: #c3c2c2;margin:2px 0 0 15px;}
.youshang2 span{font-size: 12px;color: #535353;margin:0px 0 0 15px;}

.youshang3{width:185px ;height:43px ;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;float: left;margin-top: 9px;}
.youshang3 p{font-size: 12px;color: #c3c2c2;margin:2px 0 0 15px;}
.youshang3 span{font-size: 12px;color: #535353;margin:0 0 0 15px;}

.youshang4{width: 280px;height: 200px;margin:0 0 0 35px;border-bottom:1px solid #dddddd;}
.youshang4 p{font-size: 12px;color:#c3c2c2;margin:4px 0 2px 15px; }
.youshang4 span{font-size: 12px;color:#535353;}
.youshang button{width: 50px;height: 25px;color: #fff;background-color: #388ac1;border-radius: 5px;float: right;margin:5px 40px 0 0;}

.youshang input{border-radius: 0px;border:none;margin:11px 0 0 35px;}
.last{font-size: 12px;color: #c3c2c2;position: absolute;top: 626px;left: 661px}
.youxia{position: relative}
.youxia img{position: absolute;top: 57px;left: 39px;z-index: 1}
.biaogeshuju{z-index: 2}

.dazhong{background-color: #f4f5f6;border-top: 1px solid #d6d7d8}
.td1{width:65px ;height:23px ;text-align: center}
.td2{width: 90px;height:23px ;text-align: center}
.td3{width: 255px;height: 23px;padding-left: 35px;}
table{font-size: 12px;margin:22px 0 0 40px}

.zuoxia select{font-size: 12px;color: #636363;border:1px solid #cdcecf;margin:10px 8px 0 0;}
#s1{width:62px ;height: 20px;border:1px solid #cbcbcb;float: left;margin-left: 22px}
#s2{width:83px ;height: 20px;border:1px solid #cbcbcb;float: left}
#s3{width:73px ;height: 20px;border:1px solid #cbcbcb;float: left}


.zuoxia button{border:1px solid #cbcbcb;width: 62px;height:20px ;background-color: #fff;color:#636363;margin-top: 10px; }
.xingqi{width: 310px;height: 30px;border-top:1px solid#a9cfec;border-bottom: 1px solid #e1e1e2;margin:10px 0 0 20px;}
.xingqi p{font-size: 10px ;color: #636363;margin:9px 17px 9px 17px;float: left}
.qian3{float: right;}
.qian3,.dierpai div{width: 40px;height: 39px;margin:2px;}
.shuzi1,.jieri1{color: #cd3539;font-size: 11px;text-align: center}
.shuzi,.jieri{font-size: 11px;color: #494949;text-align: center}
.qian2{float: left}
.dierpai{width: 350px;height: 200px;margin-left: 19px}
.qian3 div:hover , .qian2 div:hover li{border:1px solid #f5ca39;}
.dian{height: 39px;width: 25px;float: right;}
.zuoxia li{margin-bottom: 4px}
  
  
#tab{  
    width: 488px;  
    height: 300px;  
   
    margin: 12px 0 0 20px;  
    /*处理超出的内容*/  
    overflow: hidden;  
    border-radius: 2px;
}  
  
/*选项卡的头部*/  
#tab-header{  
    margin-top: 10px;
    height: 26px;  
    text-align: center;  
    position: relative;  
     
}  
#tab-header ul{

}
#tab-header li{
	float: left;
	color: #535353;
	font-size: 12px;
	width: 81px;
	height: 26px;

}
.unselect{
	background-color: #F7F7F7;  
	border-bottom: 1px solid#ddd;
	line-height: 25px
}
.unselect1{
		background-color: #fff;  
	border-bottom: 1px solid#ddd;
	line-height: 25px
}
.selected{
	background-color: #fff;
	border-left: 1px solid #ddd; 
    border-right: 1px solid #ddd; 
     border-top: 1px solid #ddd;  
	border-top-left-radius: 2px ;
	border-top-right-radius: 2px ;
	line-height: 23px
}
#tab-content{ 
	padding-top: 1px;
	padding-bottom: 25px;
	border-left: 1px solid #ddd;  
    border-right: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    border-radius: 2px
     }
 .dom table, .dom table tr th, .dom table tr td { border:1px solid #e1e1e1; }
 .dom table{border-collapse: collapse; padding:2px;}
 .dom td{color: #727272}

 #tab-content .dom td{  
 
    width: 100px;height: 32px;
    text-align: center
}  